@import '@/scss/variables.scss';


.layout {

    &__wrapper {
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        gap: 0;
    }

    main {
        border-inline: 1px solid $grey-800;
    }
}