.register {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 400px;
        width: 100%;
    }
}