@import '@/scss/variables.scss';

.followList {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: $grey-900;
    border-radius: 12px;

    h3 {
        padding: 16px;
    }

    &__users {
        display: flex;
        flex-direction: column;
        gap: 0;

        &__more {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            &:hover {
                background-color: rgba($grey-50, 0.1);
            }

            a {
                color: $primary-500;
                padding: 12px 16px;
                display: flex;
            }
        }
    }
}