.item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;

    &__user {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0;

        &__info {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
    }
}